*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle
.idea/
.gradle/
build/
.signing/
local.properties
proguard/
release/
/*/release/
/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
captures/
.navigation/
*.ipr
*~
*.swp
gen-external-apklibs
.externalNativeBuild
obj/
*.iml
*.iws
/out/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.classpath
.project
.cproject
.settings/
.mtj.tmp/
*.war
*.ear
hs_err_pid*
.idea_modules/
atlassian-ide-plugin.xml
.idea/mongoSettings.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
!/gradle/wrapper/gradle-wrapper.jar